//
// Base styles
//

.alert {
    position: relative;
    padding: $alert-padding-y $alert-padding-x;
    margin-bottom: $alert-margin-bottom;
    border: $alert-border-width solid transparent;
    @include border-radius($alert-border-radius);
  }
  
  // Headings for larger alerts
  .alert-heading {
    // Specified to prevent conflicts of changing $headings-color
    color: inherit;
  }
  
  // Provide class for links that match alerts
  .alert-link {
    font-weight: $alert-link-font-weight;
  }
  
  
  // Dismissible alerts
  //
  // Expand the right padding and account for the close button's positioning.
  
  .alert-dismissible {
    padding-right: $close-font-size + $alert-padding-x * 2;
  
    // Adjust close link position
    .close {
      position: absolute;
      top: 0;
      right: 0;
      padding: $alert-padding-y $alert-padding-x;
      color: inherit;
    }
  }

  button.close {
    padding: 0;
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  
  @mixin alert-variant($background, $border, $color) {
    color: $color;
    @include gradient-bg($background);
    border-color: $border;
  
    .alert-link {
      color: darken($color, 10%);
    }
  }
  
  
  // Alternate styles
  //
  // Generate contextual modifier classes for colorizing the alert.
  
  @each $color, $value in $theme-colors {
    .alert-#{$color} {
      @include alert-variant(color-level($value, $alert-bg-level), color-level($value, $alert-border-level), color-level($value, $alert-color-level));
    }
  }
  