
$theme-gradients-colors: () !default;

$theme-gradients-colors : map-merge(
  (
    light-blue-teal:(start:#b3e5fc,end:#64ffda, shadow:rgba(100, 255, 218, .5)),
    indigo-light-blue:(start:#3949ab,end:#4fc3f7,shadow:rgba(79, 195, 247, .5)),
    light-blue-indigo:(start:#b3e5fc,end:#9fa8da, shadow:rgba(159, 168, 218, .5)),
    yellow-green:(start:#ffff8d, end:#b9f6ca, shadow:rgba(185, 246, 202, .5)),
    orange-deep-orange:(start:#ffe0b2, end:#ffccbc, shadow:rgba(255, 204, 188, .5)),
    deep-purple-purple:(start:#d1c4e9, end:#f3e5f5, shadow:rgba(243, 229, 245, .5)),
    red-pink:(start:#ff5252,end:#f48fb1,shadow:rgba(244, 143, 177, .5)),
    light-green-amber:(start:#c5e1a5,end:#fff8e1,shadow:rgba(255, 248, 225, .5)),
    amber-amber:(start:#ff6f00,end:#ffca28,shadow:rgba(255, 202, 40, .5)),
    purple-pink:(start:#ea80fc,end:#fce4ec,shadow:rgba(252, 228, 236, .5)),
    teal-cyan:(start:#e0f2f1,end:#00e5ff,shadow:rgba(0, 229, 255, .5)),
    blue-grey-blue-grey:(start:#cfd8dc,end:#546e7a,shadow:rgba(84, 110, 122, .5)),
    orange-amber:(start:#e65100,end:#1976d2,shadow:rgba(25, 118, 210, .5)),
    indigo-blue:(start:#303f9f,end:#1976d2,shadow:rgba(25, 118, 210, .5)),
    brown-brown:(start:#6d4c41,end:#bbdefb,shadow:rgba(187, 222, 251, .5)),
    blue-grey-blue:(start:#263238,end:#2979ff,shadow:rgba(41, 121, 255, .5)),
    purple-deep-orange:(start:#8e24aa,end:#ff6e40,shadow:rgba(255, 110, 64, .5)),
    green-teal:(start:#43a047,end:#1de9b6,shadow:rgba(29, 233, 182, .5)),
    light-blue-cyan:(start:#0288d1,end:#26c6da,shadow:rgba(38, 198, 218, .5)),
    yellow-teal:(start:#fff9c4,end:#64ffda,shadow:rgba(100, 255, 218, .5)),
    yellow-red:(start:#fff9c4,end:#f48fb1,shadow:rgba(244, 143, 177, .5))
  ), $theme-gradients-colors);

@each $key, $values in $theme-gradients-colors {
  .gradient-45deg-#{$key} {
    @include gradient-bg-directional(map-get($values, start), map-get($values, end));
  }
  .gradient-45deg-#{$key}.gradient-shadow {
    -webkit-box-shadow: 0 6px 20px 0 map-get($values, shadow) !important;
      box-shadow: 0 6px 20px 0 map-get($values, shadow) !important;
  }
}

.card {
  background-color: transparent !important;
}