@mixin make-badge($name, $color) {
    .badge-#{$name} {
      background-color: $color !important;
      color: set-notification-text-color($color) !important;
    }
    a {
      &.badge-#{$name}:hover, &.badge-#{$name}:focus {
        background-color: $color !important;
        color: set-notification-text-color($color) !important;
      }
    }
  }
  
// Make floating button
@mixin make-btn-floating($width, $height, $font-size, $line-height) {
  width: $width;
  height: $height;

  i {
    font-size: $font-size;
    line-height: $line-height;
  }
}
  // Set the color of the button and badge
@function set-notification-text-color($color) {
    @if (lightness($color) > 80) {
      @return $black; // Lighter backgorund, return dark color
    }
  
    @else {
      @return $white; // Darker background, return light color
    }
  }

  // Make input
@mixin make-input($margin-bottom, $label-font-size, $label-active-font-size, $top, $prefix-font-size, $margin-left, $width, $margin-left-2) {
  .validate {
    margin-bottom: $margin-bottom;
  }

  label {
    font-size: $label-font-size;

    &.active {
      font-size: $label-active-font-size;
    }
  }

  .prefix {
    top: $top;
    font-size: $prefix-font-size;

    ~input,
    ~textarea {
      margin-left: $margin-left;
      width: $width;
    }

    ~label {
      margin-left: $margin-left;
    }

    ~.form-text {
      margin-left: $margin-left-2;
    }
  }
}