/**
Where property is one of:

m - for classes that set margin
p - for classes that set padding
Where sides is one of:

t - for classes that set margin-top or padding-top
b - for classes that set margin-bottom or padding-bottom
l - for classes that set margin-left or padding-left
r - for classes that set margin-right or padding-right
x - for classes that set both *-left and *-right
y - for classes that set both *-top and *-bottom
blank - for classes that set a margin or padding on all 4 sides of the element
Where size is one of:

0 - for classes that eliminate the margin or padding by setting it to 0
1 - (by default) for classes that set the margin or padding to $spacer * .25
2 - (by default) for classes that set the margin or padding to $spacer * .5
3 - (by default) for classes that set the margin or padding to $spacer
4 - (by default) for classes that set the margin or padding to $spacer * 1.5
5 - (by default) for classes that set the margin or padding to $spacer * 3
auto - for classes that set the margin to auto
**/

@mixin make-spacers-properties($start, $property, $infix, $key, $value) {
    @if $infix !=null {
        .#{$start}#{$infix}-#{$key} {
            #{$property}: $value !important;
        }
        .#{$start}t#{$infix}-#{$key},.#{$start}y#{$infix}-#{$key} {
            #{$property}-top: $value !important;
        }
        .#{$start}b#{$infix}-#{$key},.#{$start}y#{$infix}-#{$key} {
            #{$property}-bottom: $value !important;
        }
        .#{$start}l#{$infix}-#{$key}, .#{$start}x#{$infix}-#{$key} {
            #{$property}-left: $value !important;
        }
        .#{$start}r#{$infix}-#{$key}, .#{$start}x#{$infix}-#{$key} {
            #{$property}-right: $value !important;
        }
    }
    @else {
        .#{$start}-#{$key} {
            #{$property}: $value !important;
        }
        .#{$start}t-#{$key},.#{$start}y-#{$key} {
            #{$property}-top: $value !important;
        }
        .#{$start}b-#{$key},.#{$start}y-#{$key} {
            #{$property}-bottom: $value !important;
        }
        .#{$start}l-#{$key}, .#{$start}x-#{$key} {
            #{$property}-left: $value !important;
        }
        .#{$start}r-#{$key}, .#{$start}x-#{$key} {
            #{$property}-right: $value !important;
        }
    }
}

@mixin  make-display-print-properties($infix, $suffix:$displays) {
    @each $display in $suffix {
        @if $infix !=null {
            @if $display=='inline-flex' {
                .d-print#{$infix}-#{$display} {
                    display:-ms-inline-flex!important;
                    display:inline-flex!important
                }
            }
            @else if $display=='flex' {
                .d-print#{$infix}-#{$display} {
                    display: -ms-flexbox !important;
                    display: flex !important;
                }
            }
            @else {
                .d-print#{$infix}-#{$display} {
                   display: #{$display} !important;
                }
            }
        } @else {
            @if $display=='inline-flex' {
                .d-print-#{$display} {
                    display:-ms-inline-flex!important;
                    display:inline-flex!important
                }
            }
            @else if $display=='flex' {
                .d-print-#{$display} {
                    display: -ms-flexbox !important;
                    display: flex !important;
                }
            }
            @else {
                .d-print-#{$display} {
                   display: #{$display} !important;
                }
            }
        }   
    }
}

@mixin make-spacers-properties($start, $property, $infix, $key, $value) {
    @if $infix !=null {
        .#{$start}#{$infix}-#{$key} {
            #{$property}: $value !important;
        }
        .#{$start}t#{$infix}-#{$key},.#{$start}y#{$infix}-#{$key} {
            #{$property}-top: $value !important;
        }
        .#{$start}b#{$infix}-#{$key},.#{$start}y#{$infix}-#{$key} {
            #{$property}-bottom: $value !important;
        }
        .#{$start}l#{$infix}-#{$key}, .#{$start}x#{$infix}-#{$key} {
            #{$property}-left: $value !important;
        }
        .#{$start}r#{$infix}-#{$key}, .#{$start}x#{$infix}-#{$key} {
            #{$property}-right: $value !important;
        }
    }
    @else {
        .#{$start}-#{$key} {
            #{$property}: $value !important;
        }
        .#{$start}t-#{$key},.#{$start}y-#{$key} {
            #{$property}-top: $value !important;
        }
        .#{$start}b-#{$key},.#{$start}y-#{$key} {
            #{$property}-bottom: $value !important;
        }
        .#{$start}l-#{$key}, .#{$start}x-#{$key} {
            #{$property}-left: $value !important;
        }
        .#{$start}r-#{$key}, .#{$start}x-#{$key} {
            #{$property}-right: $value !important;
        }
    }
}

@mixin make-display-print-properties($infix, $suffix:$displays) {
    @each $display in $suffix {
        @if $infix !=null {
            @if $display=='inline-flex' {
                .d-print#{$infix}-#{$display} {
                    display:-ms-inline-flex!important;
                    display:inline-flex!important;
                }
            }
            @else if $display=='flex' {
                .d-print#{$infix}-#{$display} {
                    display: -ms-flexbox !important;
                    display: flex !important;
                }
            }
            @else {
                .d-print#{$infix}-#{$display} {
                   display: #{$display} !important;
                }
            }
        } @else {
            @if $display=='inline-flex' {
                .d-print-#{$display} {
                    display:-ms-inline-flex!important;
                    display:inline-flex!important;
                }
            }
            @else if $display=='flex' {
                .d-print-#{$display} {
                    display: -ms-flexbox !important;
                    display: flex !important;
                }
            }
            @else {
                .d-print-#{$display} {
                   display: #{$display} !important;
                }
            }
        }   
    }
}

@mixin make-display-properties($infix, $suffix:$displays) {
    @each $display in $suffix {
        @if $infix !=null {
            @if $display=='inline-flex' {
                .d#{$infix}-#{$display} {
                    display:-ms-inline-flex !important;
                    display:inline-flex!important;
                }
            }
            @else if $display=='flex' {
                .d#{$infix}-#{$display} {
                    display: -ms-flexbox !important;
                    display: flex !important;
                }
            }
            @else {
                .d#{$infix}-#{$display} {
                   display: #{$display} !important;
                }
            }
        } @else {
            @if $display=='inline-flex' {
                .d-#{$display} {
                    display:-ms-inline-flex !important;
                    display:inline-flex !important;
                }
            }
            @else if $display=='flex' {
                .d-#{$display} {
                    display: -ms-flexbox !important;
                    display: flex !important;
                }
            }
            @else {
                .d-#{$display} {
                   display: #{$display} !important;
                }
            }
        }   
    }
}

@mixin make-spacers($margin-spacers:$spacers, $breakpoints: $grid-breakpoints) {
    .m-auto{
        margin: auto;
    }
    @each $key, $value in $margin-spacers  {
        @include make-spacers-properties('m', 'margin', null, $key, $value);
        @include make-spacers-properties('p', 'padding', null, $key, $value);
    }
    @include make-spacers-properties('m', 'margin', null, auto, auto);
    @include make-spacers-properties('p', 'padding', null, auto, auto);
    @include make-display-print-properties(null);
    @include make-display-properties(null);
    @include make-text-property(null);
    @include make-float-property(null);
    @include make-width-property(null);
    @include make-height-property(null);
    @each $breakpoint,$min-width in $breakpoints {
        $infix: breakpoint-infix($breakpoint, $breakpoints);
        @if $min-width > 0 {
            @media (min-width:$min-width) {
                .m#{$infix}-auto{
                    margin: auto;
                }
                @include make-display-print-properties($infix);
                @include make-text-property($infix);
                @include make-display-properties($infix);
                @include make-width-property($infix);
                @each $key, $value in $margin-spacers  {
                    @include make-spacers-properties('m', 'margin', $infix, $key, $value);
                    @include make-spacers-properties('p', 'padding', $infix, $key, $value);
                }
            }
        }
    }
}

@mixin make-text-property($infix) {
    @each $key in $text-aligns {
        @if $infix != null {
            .text#{$infix}-#{$key} {
                text-align: $key !important;
            }
        }
        @else {
            .text-#{$key} {
                text-align: $key !important;
            }
        }   
    }
}

@mixin make-float-property($infix) {
    @each $key in $text-aligns {
        @if $infix != null {
            .float#{$infix}-#{$key} {
                float: $key !important;
            }
        }
        @else {
            .float-#{$key} {
                float: $key !important;
            }
        }   
    }
}

@mixin make-width-property($infix) {
    @each $key, $value in $sizes {
        @if $infix != null {
            .w#{$infix}-#{$key} {
                width: $value !important;
            }
        }
        @else {
            .w-#{$key} {
                width: $value !important;
            }
        }
    }
}

@mixin make-height-property($infix) {
    @each $key, $value in $sizes {
        @if $infix != null {
            .h#{$infix}-#{$key} {
                height: $value !important;
            }
        }
        @else {
            .h-#{$key} {
                height: $value !important;
            }
        }
    }
}

@include make-spacers();