@mixin transition($value) {
    -webkit-transition: $value;
       -moz-transition: $value;
         -o-transition: $value;
            transition: $value;
}

@mixin transition-property-opacity($value) {
    -webkit-transition-property: -webkit-transform, $value;
       -moz-transition-property: -moz-transform, $value;
         -o-transition-property: -o-transform, $value;
            transition-property: transform, $value;
}

@mixin transform-style($value) {
    -webkit-transform-style: $value;
            transform-style: $value;
}

@mixin transform($value) {
    -webkit-transform: $value;
       -moz-transform: $value;
        -ms-transform: $value;
         -o-transform: $value;
            transform: $value;
}

@mixin animation($value) {
    -webkit-animation: $value;
       -moz-animation: $value;
            animation: $value;
}

@mixin filter($value) {
    -webkit-filter: $value;
        -ms-filter: $value;
            filter: $value;
}

@mixin animation-timing-function($value) {
    -webkit-animation-timing-function: $value;
            animation-timing-function: $value;
}

@mixin animation-name($value) {
    -webkit-animation-name: $value;
            animation-name: $value
}

@mixin animation-duration($value) {
    -webkit-animation-duration: $value;
            animation-duration: $value;
}

@mixin animation-delay($value) {
    -webkit-animation-delay: $value;
            animation-delay: $value;
}

@mixin animation-iteration-count($value) {
    -webkit-animation-iteration-count: $value;
            animation-iteration-count: $value;
}

@mixin animation-fill-mode($value) {
    -webkit-animation-fill-mode: $value;
            animation-fill-mode: $value;
}

@mixin transform-origin($value) {
    -webkit-transform-origin: $value;
            transform-origin: $value;
}

@mixin keyframes($name) {
    @-webkit-keyframes #{$name} {
        @content;
    }

    @-moz-keyframes #{$name} {
        @content;
    }

    @keyframes #{$name} {
        @content;
    }
}