<div id="hamburger">
    <div id="hamburger_menu">
        <input type="checkbox" id="hamburger_checkbox">
        <label for="hamburger_checkbox" id="hamburger_label">
            <div id="hamburger_text_bar"></div>
        </label>
    </div>
</div>