#hamburger
{
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    width: 39px;
    margin: 0 auto;
    transform: translateY(-50%) scale(2);
}

#hamburger_menu
{
    width: 39px;
    overflow: hidden;
}

#hamburger_checkbox
{
    display: none;
}

#hamburger_label
{
    position: relative;
    display: block;
    height: 29px;
    cursor: pointer;
}

#hamburger_label:before, #hamburger_label:after, #hamburger_text_bar
{
    position: absolute;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: #0e3577;
    //background-color: #fff;
}

#hamburger_label:before, #hamburger_label:after
{
    content: '';
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55) left;
}

#hamburger_label:before
{
    top: 0;
}

#hamburger_label:after
{
    top: 12px;
}

#hamburger_text_bar
{
    top: 24px;
}

#hamburger_text_bar:before
{
    content: 'KHATA';
    display: none;
    position: absolute;
    top: 5px;
    right: 0;
    left: 0;
    color: #0e3577;
    font-size: 12px;
    font-weight: bold;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    text-align: center;
}

#hamburger_checkbox:checked + #hamburger_label:before
{
    left: -39px;
}

#hamburger_checkbox:checked + #hamburger_label:after
{
    left: 39px;
}

#hamburger_checkbox:checked + #hamburger_label #hamburger_text_bar:before
{
    animation: moveUpThenDown 0.8s ease 0.2s forwards, shakeWhileMovingUp 0.8s ease 0.2s forwards, shakeWhileMovingDown 0.2s ease 0.8s forwards;
    display: inline;
}

@keyframes moveUpThenDown
{
    0%{ top:0; }
    50%{ top:-27px;}
    100%{ top:-14px; }
}

@keyframes shakeWhileMovingUp
{
    0%{ transform: rotateZ(0); }
    25%{ transform:rotateZ(-10deg); }
    50%{ transform:rotateZ(0deg); }
    75%{ transform:rotateZ(10deg); }
    100%{ transform:rotateZ(0); }
}

@keyframes shakeWhileMovingDown
{
    0%{ transform:rotateZ(0); }
    80%{ transform:rotateZ(3deg); }
    90%{ transform:rotateZ(-3deg); }
    100%{ transform:rotateZ(0); }
}