.navbar {
    font-weight: 900;
    background-color: transparent;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

@media (min-width: 992px) {
    .navbar-expand-lg {
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }
}

@media (min-width: 600px) {
    .navbar.scrolling-navbar {
        padding-top: 12px;
        padding-bottom: 12px;
        -webkit-transition: background 0.5s ease-in-out,padding 0.5s ease-in-out;
        transition: background 0.5s ease-in-out,padding 0.5s ease-in-out;
    }
}

.navbar-toggler {
    border: none;
    outline-color: transparent;
    outline: none;
}

.nav-item {
    padding-left: 20px;
    padding-right: 20px;
}

.navbar-brand {
    position: relative;
    text-decoration: none;
    color: #fff;
}

.uppercase {
    text-transform: uppercase;
}

.navbar-brand img {
    width: 40px;
}

.navbar-collapse {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-align: center;
    align-items: center;
}





























.teal.lighten-4 {
    background-color: #b2dfdb !important;
}

.teal {
    background-color: #009688 !important;
}

.justify-content-end {
    -webkit-box-pack: end!important;
    -ms-flex-pack: end!important;
    justify-content: flex-end!important;
}

.flex-column {
    -ms-flex-direction: column !important;
    flex-direction: column !important;
}

.purple-gradient {
    background: linear-gradient(40deg, #ff6ec4, #7873f5) !important;
}

@media (min-width: 992px) {
.navbar-expand-lg .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 15px 0 18px;
    font-size: 14px;
    color: #fff;
    font-family: rubik,sans-serif;
    font-weight: 500;
    text-transform: capitalize;
    margin-left: 30px;
    margin-top: 0;
    border-top: 3px solid transparent;
    -webkit-transition: all .3s ease-in-out 0s;
    -moz-transition: all .3s ease-in-out 0s;
    transition: all .3s ease-in-out 0s;
}