<p>product works!</p> Punit
<div id="productId" class="container-fluid mt-2">
    <section class="mb-5 mt-5"> 
      <!--Grid row-->
      <div class="row">
      <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4" *ngFor="let product of products; let i = index;">
          <!-- Card -->
          <div class="card" >
            <div class="overlay">
              <a [ngClass] = "['btn-floating', 'blue-gradient-rgba']"><i class="fas fa-plus"></i></a>
            </div>
            <div class="card-image">
              <!-- Content -->
              <a href="#!">
                <div [ngClass] = "['text-white', 'd-flex', 'h-100', 'mask', 'blue-gradient-rgba']">
                  <div class="first-content align-self-center p-3">
                    <h3 class="card-title mb-0">{{ product.name }}<span class="badge badge-pill badge-success m-auto">New</span></h3>
                    <p class="card-subtitle mb-4">{{ product.category }}</p>
                    <a [ngClass] = "['add','btn-floating']"><i class="fas fa-plus"></i></a>
                    <span class="card-price"><i class="fas fa-rupee-sign"></i> {{ product.price }}/-</span>
                  </div>
                </div>
              </a>
            </div>
          </div>
        <!-- Card -->
        </div>
      </div>
    <!--Grid column-->
    </section>     
  </div>