
.card-price {
  position: absolute;
  background: #11e95b;
  padding: 2px 20px;
  text-align: center;
  display: inline-block;
  font-size: 24px;
  font-weight: 900;
  color: #fff;
  border-radius: 7px;
  margin-top: -13px;
  margin-left: -5px;
  box-shadow: -10px 20px 15px -10px rgba(17, 233, 91, 0.3);
  & b {
      margin-left: 5px;
  }
} 

.card {
  & .overlay {
    position: absolute;
    display: none;
    height: 100%;
    width: 100%;
    z-index: 10;
    opacity: 0;
    padding-top: 30px;
    text-align: center;
  }
  &:hover .overlay, &:hover .card-price {
    display: block;
    opacity: 1;
    background-color: rgba(0,0,0,0.5);
  }
}

.add {
  position: absolute;
  right:2px;
  bottom: 0;
  opacity: 0;
}


@media only screen and (max-width: 600px) {
  .add {
   opacity: 1;
  }
  .card {
    &:hover .overlay {
      opacity: 0;
    }
    &:hover .card-price {
      background: #11e95b;
    }
  }
}

@media only screen and (max-width: 240px) {
  .btn-floating {
    width: 40px;
    height: 40px;
  }
  .btn-floating i {
    line-height: 40px
  }
  .card-title {
    font-size: 25px;
  }
  .card-subtitle {
    margin-bottom: -1.5rem;
    margin-top: 0;
    bottom: 0;
  }
  .card-price {
    margin-top: 0px;
    font-size: 18px;
  }
}

a .blue-gradient-rgba {
  color: #fff;
}

.blue-gradient-rgba {
  background: linear-gradient(40deg, rgba(48,63,159,0.9), rgba(69,202,252,0.9)) !important;
}

.purple-gradient-rgba {
  background: linear-gradient(40deg, rgba(120,115,245,0.9), rgba(255,110,196,0.9)) !important;
}

.peach-gradient-rgba {
  background: linear-gradient(40deg, rgba(252,98,98,0.9), rgba(255,216,111,0.9)) !important;
}

.aqua-gradient-rgba {
  background: linear-gradient(40deg, rgba(32,150,255,0.9),rgba(5,255,163,0.9)) !important;
}

.blue-gradient-1 {
  background: linear-gradient(40deg, rgba(69,202,252,0.9), rgba(48,63,159,0.9)) !important;
}

.purple-gradient-1 {
  background: linear-gradient(40deg, rgba(255,110,196,0.9), rgba(120,115,245,0.9)) !important;
}

.peach-gradient-1 {
  background: linear-gradient(40deg, rgba(255,216,111,0.9), rgba(252,98,98,0.9)) !important;
}

.aqua-gradient-1 {
  background: linear-gradient(40deg, rgba(5,255,163,0.9), rgba(32,150,255,0.9)) !important;
}