.sample {
    background-color: blue;
}

.card.metro-card {
    cursor: hand;
}

.metro-card.wh4x2 {
    width: 50px;
    height: 50px;
    margin: 10px;
}

.metro-card.wh2x2 {
    width: 50px;
    height: 50px;
    margin: 10px;
}

.metro-card .card-img-overlay {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    left: 0px;
    right: 0px;
    height: 100%;
    background-color: #F29500;
    background-size: 70%;
    padding-left: 14px;
    padding-top: 10px;
}


.metro-card .card-title {
    font-size: 1.2em;
    padding-left: 40px;
    padding-top:0;
    width: max-content;
}

.metro-container.full {
    width: 900px;
    display: flex;
    flex-direction: column;
}

.metro-container {
    width: 1200px;
}

@media screen and (max-height: 680px) {
    #widget_scroll_container {
        width: 1660px;
    }
    .metro-container {
        width: 900px;
    }
    .metro-container.half {
        width: 300px;
    }
}