.sample {
    background-color: aqua;
}

.metro-card.wh4x2 {
    width: 290px;
    height: 140px;
    margin: 10px;
}



.metro-card .card-img-overlay {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    left: 0px;
    right: 0px;
    height: 100%;
    background-size: 30%;
    background-color: #F29500;
}

.metro-card .card-title {
    color: blue;
    font-size: 1.2em;
    padding-top: 90px;
    padding-left: 0;
}

@media screen and (min-height: 540px) {
    .metro-container.full {
        flex-direction: column;
    }
}

@media screen and (min-height: 540px) {
    .metro-container .metro-card {
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }
}

.metro-container.full {
    width: 930px;
    position: relative;
    float: none;
    display: flex;
    flex-direction: row;
}

.metro-card.wh2x2 {
    width: 140px;
    height: 140px;
    margin: 10px;
}


.card.metro-card {
    cursor: hand;
}