@import url('https://fonts.googleapis.com/css?family=Damion|Muli:400,600');

#product-tab .nav-item {
    padding-left: 0;
}

#product-setting {
   flex-direction: row;
   align-items: center;
   justify-content: center;
}

.pills-primary .nav-link.active {
    background-color: #4285f4 !important;
}

.md-pills .nav-link.active {
    color: #fff;
    background-color: #2bbbad;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.md-pills .nav-link {
    color: #666;
    text-align: center;
    border-radius: 2px;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}

#product-type {
    margin-top: -1.5rem;
}

.product-chip.active {
    background: linear-gradient(to right, #31c551 0%, #77e34b 100%);
}

.card .btn-floating.action {
    float: right;
}

.btn-floating i {
    color: #000;
}

.bg-gradient1 {
    background: #52A0FD;
    background: linear-gradient(to right, #52A0FD 0%, #00e2fa 80%, #00e2fa 100%);
}

.spinner {
    font-family: 'Damion', cursive;
    font-weight: 400;
    color: #4caf50;
    font-size: 35px;
    text-align: center;
    position: relative;
}

.spinner:before {
    position: absolute;
    content: '';
    width: 100%;
    left: 0;
    top: 22px;
    background: #4caf50;
    height: 1px;
}

.spinner i {
    font-style: normal;
    background: #fff;
    position: relative;
    padding: 10px;
}