<app-product-navigation></app-product-navigation>

<div class="container-fluid">
    <div id="product-setting" class="row">
        <div class="col-lg-5 mb-lg-0 pb-lg-3 mb-4">
            <div class="card">
                <div class="card-header" >
                    <div class="alert alert-warning alert-dismissible fade show" role="alert" *ngIf="alertProductResponse()">
                        {{productResponse.message}}
                        <button type="button" class="close" (click)="removeAlert(productResponse)">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                    <a style="float:right; margin-left: 8px; cursor: pointer;">
                        <i class="fas fa-times fa-2x" ></i>
                    </a>
                    <a id="save"  style="float:right; cursor: pointer;" (click)='save()'>
                        <i class="fas fa-save fa-2x" ></i>
                    </a>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-10 col-md-6 mb-4">
                            <h2 class="md-form">
                                <i class="fas fa-user prefix grey-text"></i>
                                <input type="text" id="form-name" class="form-control" [(ngModel)]="product.name" />
                                <label for="form-name" class="active">Product Name</label>
                            </h2>
                        </div>
                    </div>
                    <section id="product-type">
                    <div class="row">
                        <div class="col-lg-10 col-md-6 mb-4">
                            <div class="chip product-chip" (click)='setProductTags(purchaseTag.innerHTML)'>
                                <i class="fas fa-check"></i>
                                <span #purchaseTag>Purchase</span>
                            </div>
                            <div class="chip active product-chip" (click)='setProductTags(saleTag.innerHTML)'>
                                <i class="fas fa-check"></i>
                                <span #saleTag>Sale</span>
                            </div>
                            <div class="chip active product-chip" (click)='setProductTags(expenseTag.innerHTML)'>
                                <i class="fas fa-check"></i>
                                <span #expenseTag>Expense</span>
                            </div>
                            <div class="chip active product-chip" (click)='setProductTags(rentalTag.innerHTML)'>
                                <i class="fas fa-check"></i>
                                <span #rentalTag>Rental</span>
                            </div>
                        </div>
                    </div>
                    </section>
                    <section id="product-tab">
                        <ul class="nav md-pills nav-justified pills-primary font-weight-bold">
                            <li class="nav-item">
                              <a class="nav-link active" data-toggle="tab" href="#tabCheckoutBilling123" role="tab" aria-selected="true">General</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" data-toggle="tab" href="#tabCheckoutAddons123" role="tab" aria-selected="false">Sale</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" data-toggle="tab" href="#tabCheckoutPayment123" role="tab">Purchase</a>
                            </li>
                          </ul>
                          <!-- Pills panels -->
                        <div class="tab-content pt-4">
                            <div class="tab-pane fade in show active" id="tabCheckoutBilling123" role="tabpanel">Hello General</div>
                            <div class="tab-pane fade in show " id="tabCheckoutAddons123" role="tabpanel">Hello Sale</div>
                            <div class="tab-pane fade in show" id="tabCheckoutPayment123" role="tabpanel">Hello Purchase</div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
