.blue.accent-1 {
    background-color: #82b1ff!important;
}

.btn-light-blue {
    background-color: #82b1ff!important;
    color: #fff;
}

.btn-light-blue:hover {
    background-color: #9cc1ff;
    color: #fff;
}