// Base class
//
// Requires one of the contextual, color modifier classes for `color` and
// `background-color`.

.badge {
    display: inline-block;
    padding: $badge-padding-y $badge-padding-x;
    @include font-size($badge-font-size);
    font-weight: $badge-font-weight;
    line-height: 1;
    color: $badge-color;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    @include border-radius($badge-border-radius);
    @include transition($badge-transition);
    @include box-shadow($badge-box-shadow);
    // Empty badges collapse automatically
    &:empty {
      display: none;
    }
  }
  
  a {
    &.badge:hover, &.badge:focus {
      text-decoration: none;
    }
  }
  
  // Quick fix for badges in buttons
  .btn .badge {
    position: relative;
    top: -1px;
  }
  .badge-pill {
    padding-right: $badge-pill-padding-x;
    padding-left: $badge-pill-padding-x;
    border-radius: $badge-pill-border-radius;
  }
  @each $name, $color in $theme-colors {
    @include make-badge($name, $color);
  }

  @media (prefers-reduced-motion: reduce) {
    .badge {
        @include transition(none);
   }
}
  