.btn-large {
  height: 54px;
  line-height: 54px;
  font-size: 15px;
  padding: 0 28px;
  & i {
    font-size: 1.6rem;
  }
}

/** floating button **/

.btn-floating {
    position: relative;
    z-index: 1;
    display: inline-block;
    padding: 0;
    overflow: hidden;
    vertical-align: middle;
    cursor: pointer;
    @include border-radius($border-radius-percent);
    $btn-default-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    @include box-shadow($btn-default-box-shadow);
    @include transition($transition-base);
    width: 40px;
    height: 40px;
    line-height: 40px;
    i {
      font-size: 1.25rem;
      line-height: 40px;
      display: inline-block;
      width: inherit;
      color: #fff;
      text-align: center;
    }
  
    &:hover {
      $btn-hover-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      @include box-shadow($btn-hover-box-shadow);
    }
  
    &:before {
      border-radius: 0;
    }
    
    &.btn-large {
      width: 56px;
      height: 56px;
      padding: 0;
    }

    &.btn-sm {
      width: 36.15385px;
      height: 36.15385px;
  
      i {
        font-size: .96154rem;
        line-height: 36.15385px;
      }
    }
  
    &.btn-lg {
      width: 61.1px;
      height: 61.1px;
  
      i {
        font-size: 1.625rem;
        line-height: 61.1px;
      }
    }
  }


  // Fixed Action Button
.fixed-action-btn {
  &.active {
    ul {
      visibility: visible;
    }
  }

  // Directions
  &.direction-left,
  &.direction-right {
    padding: 0 0 0 15px;
    ul {
      text-align: right;
      right: 64px;
      top: 50%;
      transform: translateY(-50%);
      height: 100%;
      left: auto;
      /*width 100% only goes to width of button container */
      width: 500px;
      li {
        display: inline-block;
        margin: 7.5px 15px 0 0;
      }
    }
  }
  &.direction-right {
    padding: 0 15px 0 0;
    ul {
      text-align: left;
      direction: rtl;
      left: 64px;
      right: auto;
      li {
        margin: 7.5px 0 0 15px;
      }
    }
  }
  &.direction-top {
    padding: 0 0 15px 0;
    ul {
      top: auto;
      bottom: 92px;
      display: flex;
      transform: scale(1) translateY(0px) translateX(-28px);
      flex-direction: column-reverse;
      li {
        margin: 15px 0 0 0;
      }
    }
  }

  &.direction-bottom {
    padding: 0 0 15px 0;
    ul {
      top: 64px;
      bottom: auto;
      display: flex;
      transform: scale(1) translateY(0px) translateX(-28px);
      flex-direction: column-reverse;
      li {
        margin: 15px 0 0 0;
      }
    }
  }
  &.toolbar {
    &.active {
      &>a i {
        opacity: 0;
      }
    }
    padding: 0;
    height: $btn-floating-large-size;
    ul {
      display: flex;
      top: 0;
      bottom: 0;
      z-index: 1;
      li {
        flex: 1;
        display: inline-block;
        margin: 0;
        height: 100%;
        transition: none;
        a {
          display: block;
          overflow: hidden;
          position: relative;
          width: 100%;
          height: 100%;
          background-color: transparent;
          box-shadow: none;
          color: #fff;
          line-height: $btn-floating-large-size;
          z-index: 1;
          i {
            line-height: inherit;
          }
        }
      }
    }
  }
  position: fixed;
  right: 23px;
  bottom: 23px;
  padding-top: 15px;
  margin-bottom: 0;
  z-index: 997;
  ul {
    left: 0;
    right: 0;
    text-align: center;
    position: absolute;
    bottom: 64px;
    margin: 0;
    visibility: hidden;
    li {
      margin-bottom: 15px;
    }
    a.btn-floating {
      opacity: 0;
    }
  }
  .fab-backdrop {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: $btn-floating-size;
    height: $btn-floating-size;
    background-color: $btn-floating-background;
    border-radius: $btn-floating-radius;
    transform: scale(0);
  }
}
  /** floating Button END**/
  // stylelint-disable selector-no-qualifying-type

//
// Base styles
//

.btn {
  display: inline-block;
  font-family: $btn-font-family;
  font-weight: $btn-font-weight;
  line-height: $btn-line-height;
  color: $body-color;
  text-align: center;
  vertical-align: middle;
  cursor: if($enable-pointer-cursor-for-buttons, pointer, null);
  background-color: transparent;
  border: $btn-border-width solid transparent;
  text-transform: uppercase;
  @include user-select(none);
  @include button-size($btn-padding-y, $btn-padding-x, $btn-font-size, $btn-border-radius);
  @include transition($btn-transition);
  & [class='btn-outline-'] {
    padding-top: .7rem;
    padding-bottom: .7rem;
  }

  &:hover {
    color: $body-color;
    text-decoration: none;
  }

  &:focus,
  &.focus {
    outline: 0;
    box-shadow: $btn-focus-box-shadow;
  }

  // Disabled comes first so active can properly restyle
  &.disabled,
  &:disabled {
    opacity: $btn-disabled-opacity;
    @include box-shadow(none);
  }

  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active {
    @include box-shadow($btn-active-box-shadow);

    &:focus {
      @include box-shadow($btn-focus-box-shadow, $btn-active-box-shadow);
    }
  }
}

// Future-proof disabling of clicks on `<a>` elements
a.btn.disabled,
fieldset:disabled a.btn {
  pointer-events: none;
}


//
// Alternate buttons
//

@each $color, $value in $theme-colors {
  .btn-#{$color} {
    @include button-variant($value, $value);
  }
}

@each $color, $value in $theme-colors {
  .btn-outline-#{$color} {
    @include button-outline-variant($value);
  }
}


//
// Link buttons
//

// Make a button look and behave like a link
.btn-link {
  font-weight: $font-weight-normal;
  color: $btn-link-color;
  text-decoration: $link-decoration;

  &:hover {
    color: $btn-link-hover-color;
    text-decoration: $link-hover-decoration;
  }

  &:focus,
  &.focus {
    text-decoration: $link-hover-decoration;
    @include box-shadow(none);
  }

  &:disabled,
  &.disabled {
    color: $btn-link-disabled-color;
    pointer-events: none;
  }

  // No need for an active state here
}


//
// Button Sizes
//

.btn-lg {
  @include button-size($btn-padding-y-lg, $btn-padding-x-lg, $btn-font-size-lg, $btn-border-radius-lg);
}

.btn-sm {
  @include button-size($btn-padding-y-sm, $btn-padding-x-sm, $btn-font-size-sm, $btn-border-radius-sm);
}


//
// Block button
//

.btn-block {
  display: block;
  width: 100%;

  // Vertically space out multiple block buttons
  + .btn-block {
    margin-top: $btn-block-spacing-y;
  }
}

.btn-rounded{
  border-radius:10em
}

@media (prefers-reduced-motion: reduce) {
  .btn {
      @include transition(none);
 }
}