.card.gradient-card {
    @include transition($card-transition);

    .first-content .card-title {
      font-weight: $headings-font-weight;
    }
  
    .second-content, .third-content {
      display: none;
    }
  
    .card-body {
      @include transition($card-transition);
      opacity: 0;
      visibility: hidden;
      overflow: hidden;
      height: 0;
      padding-bottom: 0;
      padding-top: 0;
    }
  
    .card-image {
        @include border-radius($border-radius);
  
      .mask {
        @include border-radius($border-radius);
      }
    }
  
    &:focus-within {
      margin-top: 3rem;
      @include transition($card-transition);
  
      .card-image {
        @include transition($card-transition);
        width: 7rem;
        height: 7rem;
        margin-top: -2rem;
        margin-left: 1rem;
        @include border-radius($border-radius);
        margin-bottom: 2rem;
        -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  
        .mask {
            @include border-radius($border-radius);
        }
      }
  
      .card-body {
        @include transition($card-transition);
        visibility: visible;
        opacity: 1;
        overflow: visible;
        padding-bottom: 1.25rem;
        padding-top: 1.25rem;
        height: auto;
        @include border-radius($border-radius);
  
        .progress {
          height: .4rem;
  
          .progress-bar {
            height: .4rem;
          }
        }
      }
  
      .first-content {
        display: none;
      }
  
      .second-content {
        display: block;
      }
  
      .third-content {
        display: block;
        margin-top: -6rem;
      }
    }
  }
  
  @media (max-device-width: 1025px) {
    .card.gradient-card:hover {
      margin-top: 3rem;
      @include transition($card-transition);
  
      .card-image {
        @include transition($card-transition);
        width: 7rem;
        height: 7rem;
        margin-top: -2rem;
        margin-left: 1rem;
        @include border-radius($border-radius);
        margin-bottom: 2rem;
        -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  
        .mask {
            @include border-radius($border-radius);
        }
      }
  
      .card-body {
        @include transition($card-transition);
        visibility: visible;
        opacity: 1;
        overflow: visible;
        padding-bottom: 1.25rem;
        padding-top: 1.25rem;
        height: auto;
        @include border-radius($border-radius);

        .progress {
          height: .4rem;
  
          .progress-bar {
            height: .4rem;
          }
        }
      }
  
      .first-content {
        display: none;
      }
  
      .second-content {
        display: block;
      }
  
      .third-content {
        display: block;
        margin-top: -6rem;
      }
    }
  }