
// Shadows
.z-depth-0 {
    box-shadow: none !important;
  }
  .z-depth-1 {
    box-shadow: $z-depth-1 !important;
  }
  .z-depth-1-half {
    box-shadow: $z-depth-1-half !important;
  }
  .z-depth-2 {
    box-shadow: $z-depth-2 !important;
  }
  .z-depth-3 {
    box-shadow: $z-depth-3 !important;
  }
  .z-depth-4 {
    box-shadow: $z-depth-4 !important;
  }
  .z-depth-5 {
    box-shadow: $z-depth-5 !important;
  }