<app-chatbot></app-chatbot>
<div class="progress">
    <div class="indeterminate"></div>
</div>

<nav class="white fixed-nav-bar" role="navigation">
  <div class="nav-wrapper container">
    <a id="logo-container" href="/weboxapps/#index-banner" class="brand-logo scrollable waves-effect waves-teal">WeB<i class="mdi-device-now-widgets"></i>xApps</a>
    <ul class="right hide-on-med-and-down">
      <li class="waves-effect waves-teal active"><a class="scrollable" href="/weboxapps/#index-banner2">Home</a></li>
      <li class="waves-effect waves-teal"><a class="scrollable" href="/weboxapps/#services">Services</a></li>
      <li class="waves-effect waves-teal"><a class="scrollable" href="/weboxapps/#about">About</a></li>
      <li class="waves-effect waves-teal"><a class="scrollable" href="/weboxapps/#contact">Contact</a></li>
    </ul>

    <ul id="nav-mobile" class="side-nav">
      <li class="waves-effect waves-teal active"><a class="scrollable" href="/weboxapps/#index-banner2">Home</a></li>
      <li class="waves-effect waves-teal"><a class="scrollable" href="/weboxapps/#services">Services</a></li>
      <li class="waves-effect waves-teal"><a class="scrollable" href="/weboxapps/#contact">Contact</a></li>
      <li class="waves-effect waves-teal"><a class="scrollable" href="/weboxapps/#about">About</a></li>
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
  </div>
</nav>

<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div id="index-banner2" class="container">
      <br><br>
      <h1></h1>
      <!--<h1 class="header center teal-text text-lighten-2 s12">WeB<i class="mdi-hardware-memory"></i>xApps</h1>-->
      <div class="row center">
        <h5 class="header col s12 light"><b>Open Source ITSM | Crm | Erp | Asset Management | Help Desk and Ticketing</b></h5>
      </div>
      <div class="row center">
        <a href="/weboxapps/#services" id="download-button" class="btn-large waves-effect waves-light teal lighten-1 scrollable">Services</a>
      </div>
      <br><br>

    </div>
  </div>
  <div class="parallax"><img [src]="'assets/images/background1.jpg'" alt="Unsplashed background img 2"></div>
</div>

<div id="services" class="container">
  <div class="section">

    <!--   Icon Section   -->
    <div class="row">
      <div class="slider2">
          <div class="slide">
            <div class="icon-block">
              <h2 class="center brown-text"><i class="mdi-hardware-desktop-windows"></i></h2>
              <h5 class="center">Infra</h5>
              <span class="light">
               <h6 class="center">We Provide Infrastructure including designing, deployment, monitoring and maintenance of the Open Source based Environment.</h6><br>
<h6 class="center"><b>ITSM | Hardware | Software | Networks | Data Centers</b></h6><br>
              </span>
            </div>
          </div>

          <div class="slide">
            <div class="icon-block">
              <h2 class="center brown-text"><i class="mdi-file-cloud-done"></i></h2>
              <h5 class="center">Cloud Hosting</h5>

              <span class="light">
                <h6 class="center">Transforming your industry requires a cloud. We provides virtual and bare metal server hosting with the scalability.</h6><br>
          <h6 class="center"><b>Aws | Google | Azure | Digitalocean</b></h6><br>
              </span>
            </div>
          </div>

          <div class="slide">
            <div class="icon-block">
              <h2 class="center brown-text"><i class="mdi-action-extension"></i></h2>
              <h5 class="center">DevOps</h5>

              <span class="light">
                <h6 class="center">Continuous Software build Delivery - Launchpad for the Software Developement.</h6><br>
          <h6 class="center"><b>APM solutions | Automations | CI | CD | Auto Deployments</b></h6><br>
              </span>
            </div>
          </div>

          <div class="slide">
            <div class="icon-block">
              <h2 class="center brown-text"><i class="mdi-action-android"></i></h2>
              <h5 class="center">Mobile Development</h5>

              <span class="light">
                <h6 class="center">We are the magicians with the capability of turning your ideas and imaginations into charming Mobile Apps.</h6><br>
          <h6 class="center"><b>Android | iOS</b></h6><br>             
              </span>
            </div>
          </div>

          <div class="slide">
            <div class="icon-block">
              <h2 class="center brown-text"><i class="material-icons" style="font-size: 52px;">language</i></h2>
              <h5 class="center">Website Development</h5>

              <span class="light">
                <h6 class="center">We provide well-matched web development for businesses with easy navigation, user friendly for customers to view the entire details of products and services.</h6><br>
              <h6 class="center"><b>Ecommerce | Responsive Design | Portfolio</b></h6><br>
              </span>
            </div>
          </div>

          <div class="slide">
            <div class="icon-block">
              <h2 class="center brown-text" style="font-size: 46px;font-weight: bold;">ERP</h2>
              <h5 class="center">ERP Development</h5>

              <span class="light">
              <h6 class="center">We provide custom ERP development that help companies automate, plan, collaborate, and execute their business requirements.</h6><br>
<h6 class="center"><b>Warehouse | Finance | Sales | Purchase | Inventory</b></h6><br>
              
              </span>
            </div>
          </div>            

      </div>

    </div>
  </div>
</div>

<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div id="about" class="container">
      <div class="row center">
        <h5 class="header col s12 light"><b>Automations | CI | CD | Auto Deployments</b></h5>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="/assets/images/background2.jpg" alt="Unsplashed background img 3"></div>
</div>

<footer class="page-footer teal">
  <div class="container">
    <div class="row" style="margin-bottom:0px;">
      <div class="col s9">
        <h3 class="white-text">About WeBoxApps</h3>
        <span class="grey-text text-lighten-4">
        <b>Weboxapps is an agile company with focus on managed services, open source solutions. weboxapps introduces a new paradigm of IT services.</b><br>
<h4 class="white-text">Vision</h4>
Weboxapps was started with one single vision in mind:<br>
"Make technology easy to SMEs and Enterprises looking for ways to make their businesses and increase productivity."<br>Technology is becoming more complex than before. We believe that there is a need to simplify technology and to make it more readily consumable by customers- big or small.
<h4 class="white-text">Core Values</h4>
<b>Integrity</b>: Never mislead a customer, never underestimate the customer, and never misuse an opportunity<br>
<b>Competence</b>: Articulate your skills, expand your core capabilities and outdo customer expectations<br>
<b>Efficiency</b>: Place a premium on customer's time, money and resources<br>

<h4 class="white-text">Management Team</h4>
Weboxapps is founded by experienced hands from the Information and Technology industry that have worked at Fortune 500 companies such as Cisco, Siebel, SAP and Intel. The management team has decades of experience in defining new technology products, delivering technology to customers across US, Europe, Asia and Middle East, and satisfying business needs.<br>
weboxapps now has a global presence with offices in USA, India and Middle East.
</span>
      </div>
    </div>
  </div>
</footer>

<a style="display: block;" id="back-to-top" href="#index-banner" class="scrollable">
<i class="mdi-hardware-keyboard-arrow-up"></i>
</a>


<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div id="contact" class="container">
      <div class="row center">
        <h5 class="header col s12 light"><b>IT Consulting | Business Application Solutions | Process Automation</b></h5>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="assets/images/background3.jpg" alt="Unsplashed background img 2"></div>
</div>


<div id="contact" class="container">
  <div class="section">
    <div class="row">
      <div class="col s12 center">
        <h3><i class="mdi-content-send brown-text"></i></h3>
        <h4>Contact Us</h4>
        <span class="left-align light">
        <h5><i class="mdi-communication-call"></i> : <span itemprop="telephone">+91 7039801422</span><br/>
        <i class="mdi-communication-email"></i> : <span itemprop="email">info@weboxapps.com</span><br/><br/></h5>
        <h6>Please feel free to contact us in case of any information you need from our side. We'll be happy to get you closer to your answers.</h6>
        </span>
      </div>
    </div>
  </div>
</div>
<div class="footer-copyright" style="width:100%;">
  <div style="background-color:teal;padding:10px">
    &copy; WeBoxApps
  </div>
</div>

<script>
$('a[href=""]').click(function(event) {
  event.preventDefault();
});
</script>