/*
http://www.melonhtml5.com/
*/
.metro-card { 
    cursor: pointer;
    &.wh4x2 {
        width: 290px;
        height: 140px;
        margin: 10px;
    }
    &.wh2x2 {
      width: 140px;
      height: 140px;
      margin: 10px;
    }
    & .card-img-overlay {
        background-repeat: no-repeat;
        background-position: 50% 50%;
        left: 0px;
        right: 0px;
        height: 100%;
        background-size: 30%;
        background-color: #F29500;
    }
    & .card-title {
        font-size: 1.2em;
        padding-top: 90px;
        padding-left: 0;
    }
}
.metro-container {
    &.full {
        width: 930px;
        position: relative;
        float: none;
        display: flex;
        flex-direction: row;
    }
}
@media screen and (min-height: 540px) {
    .metro-container {
        .full {
            flex-direction: column;
        }
    }
}

@media screen and (min-height: 540px) {
    .metro-container {
        .metro-card {
            padding-right: 15px;
            padding-left: 15px;
            margin-right: auto;
            margin-left: auto;
        }
    }
}

@media screen and (max-height: 500px), screen and (orientation:portrait) {
 .metro-card {
    &.wh4x2 {
      width: 50px;
      height: 50px;
      margin: 10px;
    }
    &.wh2x2 {
      width: 50px;
      height: 50px;
      margin: 10px;
    }
    & .card-img-overlay {
          background-repeat: no-repeat;
          background-position: 50% 50%;
          left: 0px;
          right: 0px;
          height: 100%;
          background-color: #F29500;
          background-size: 70%;
          padding-left: 14px;
          padding-top: 10px;
      }
    & .card-title {
          font-size: 1.2em;
          padding-left: 40px;
          padding-top:0;
          width: max-content;
      }
  }
  
.metro-container {
    width: 1200px;
    &.full {
        width: 900px;
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-height: 680px) {
   .metro-container {
        width: 900px;
       &.half {
            width: 300px;
        } 
    }
}
}