.circle {
    position: absolute;
    top: 50%;
    left: 50%;
    @include transform(translate(-50%, -50%));
    @include border-radius(50%);
    @include box-shadow(0 0 0 15px #03a9f4);
    background: #fff;
    width: 300px;
    height: 300px;
    
    @include transition(0.5s);
    text-align: center;
    box-sizing: border-box;
}

.circle:hover {
    @include border-radius(0);
}

.circle::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #03a9f4;
    z-index: -1;
    @include transform(rotate(-45deg));
}