#chatbot {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
    display: inherit;
    align-items: center;
    justify-content: center;
    pointer-events: initial;
    background-size: 130% 130%;
    position: relative;
    border: none;
    outline: none;
    will-change: transform;
    color: rgb(0, 125, 252);
    background: linear-gradient(135deg, rgb(42, 39, 218), rgb(0, 204, 255));
    transition: transform .2s;
    &:hover {
        transform: scale(1.1);
        outline: none;
    }
    & i {
        font-size: 1.25rem;
        padding-top: 10%;
        line-height: 47px;
        display: inline-block;
        width: inherit;
        color: #fff;
        text-align: center;
    }
}

#btn-chatbot.chat-open:not(.sidebar) {
    right: 0;
    left: auto;
}

#btn-chatbot {
    position: absolute;
    width: 112px;
    height: 140px;
    bottom: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    z-index: 1;
    right: -22px;
    bottom: 18px;
}
.fixed-action-btn .chat {
    right: 30px;
}
.chat {
    width: 372px;
    height: 372px;
    border-radius: 16px;
    position: absolute;
    bottom: 26px;
    pointer-events: auto;
    box-shadow: 0 8px 22px 0 rgba(0,18,46,0.16);
    overflow: hidden;
    z-index: 1;
    right: 48px;
    left: auto;
    max-height: calc(100% - 47px);
    display: flex;
    flex-direction: column;
}

.chat #conversation-group {
    flex: 0 1 auto;
}

#conversation-group {
    padding: 0 28px;
    width: 100%;
    height: 357px;
    overflow-y: auto;
    overflow-x: hidden;
    will-change: auto;
    -ms-overflow-style: none;
    background: #fff;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    max-height: 357px;
    min-height: 160px;
    flex: 0 1 auto;
}

#conversation-group #conversation-scroll div {
    width: 6px;
    margin: 0 1px;
    background: #00173b;
    opacity: 0;
    top: 0;
    position: absolute;
    border-radius: 4px;
    cursor: pointer;
    -webkit-transition: opacity 0.1s ease-in-out, width 0.1s ease-in-out, margin 0.1s ease-in-out;
    transition: opacity 0.1s ease-in-out, width 0.1s ease-in-out, margin 0.1s ease-in-out;
    z-index: 2;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.chat-text:focus, .chat-text:active {
    border: 0;
    outline: 0;
}

#input-group hr {
    margin: 0;
}

#conversation-group #conversation-scroll {
    width: 24px;
    height: calc(339px - 26px);
    position: absolute;
    right: 2px;
    padding: 0 12px 0 4px;
}

#messages {
    position: relative;
    -ms-overflow-style: none;
    margin-top: 10px;
    width: 100%;
    // padding-bottom: 24px;
    float: left;
}

.message {
    padding: 10px 16px;
    border-radius: 20px;
    margin: 2px 0;
    font-size: 15px;
    line-height: 20px;
    word-wrap: break-word;
    display: inline-block;
    max-width: 85%;
    clear: both;
    position: relative;
    -webkit-transition: margin 0.28s ease-in-out;
    transition: margin 0.28s ease-in-out;
}

.message-operator {
    color: #06132b;
    background: #f0f2f7;
    float: left;
}

.message span.message-content {
    white-space: pre-line;
}

.message-operator+.message-visitor {
    margin-top: 9px;
}

.message-visitor {
    color: #fff;
    background: linear-gradient(332deg, #21dbdb, #2979ff);
    float: right;
}

.message-visitor .messageTimestamp {
    right: 12px;
}

.message .messageTimestamp {
    font-size: 12px;
    color: #8894ab;
    position: absolute;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    white-space: nowrap;
}

.messageTimestamp {
    bottom: -24px;
    opacity: 1;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

#input-group {
    padding: 0 28px 6px;
    width: 100%;
    position: relative;
    background: #fff;
    z-index: 3;
}

.chat-text {
    border: 0;
    width: 100%;
    font-size: 17px;
    padding: 20px 0 14px 0;
    resize: none;
    line-height: 24px;
    letter-spacing: -0.24px;
    overflow-x: hidden;
    -ms-overflow-style: none;
}

.message-operator.bots-quick-replies {
    width: 85%;
    background-color: #fff;
    margin-top: 0;
    float: right;
}

.message-operator.message-with-buttons, .message-operator .message-with-buttons, .message-operator.bots-quick-replies {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    max-width: 95%;
}

.message-operator.bots-quick-replies button {
    font-size: 15px;
    padding: 8px 16px;
    cursor: pointer;
    border: 1px solid;
    border-radius: 20px;
    margin: 3px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: inherit;
}

.message-operator.bots-quick-replies .button-wrapper {
    margin-top: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 100%;
    border: none;
}
.message-operator.message-with-buttons .button-wrapper, .message-operator .message-with-buttons .button-wrapper, .message-operator.bots-quick-replies .button-wrapper {
    background: #fff;
    width: 109%;
    margin-top: 10px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top: 0;
    position: relative;
}

.user-data-modal {
    background: #fff;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 10;
    padding: 50px 55px;
    font-family: 'Muli', sans-serif;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff)),-webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff));
    background-image: linear-gradient(#fff, #fff),linear-gradient(#fff, #fff);
    background-size: 100% 40px,100% calc(100% - 40px);
    background-repeat: no-repeat;
    background-position: top, bottom;
    background-image: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255)), linear-gradient(118deg, rgb(255, 78, 111), rgb(251, 145, 104));
    opacity: 1;
}

.user-data-modal .user-data-modal-fields input {
    border: solid 1px rgba(108,125,159,0.24);
    font-size: 15px;
    padding: 9px 12px 10px 40px;
    margin: 0 0 8px 0;
}

.field-wrapper {
    position: relative;
    left: 0;
}

.message-operator.message-with-buttons button, .message-operator .message-with-buttons button, .message-operator.bots-quick-replies button {
    display: block;
    font-size: 14px;
    line-height: 19px;
    padding: 8px 16px;
    cursor: pointer;
    color: #007dfc;
    background: transparent;
    position: relative;
    z-index: 2;
    font-family: 'Muli', sans-serif;
}

#wave {
    position: relative;
    height: 70px;
    width: 600px;
    background: #e0efe3;
  }
  #wave:before {
    content: "";
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 340px;
    height: 80px;
    background-color: white;
    right: -5px;
    top: 40px;
  }
  #wave:after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 300px;
    height: 70px;
    background-color: #e0efe3;
    left: 0;
    top: 27px;
  }

  #chatter {
    display: block;
    border: none;
    position: fixed;
    width: 450px;
    height: 647px;
    opacity: 1;
    left: auto;
    right: 25px;
    bottom: 0px;
    top: auto;
    background: none transparent;
    margin: 0px;
    max-height: 100%;
    max-width: 100vw;
    transform: translateY(0px);
    transition: none 0s ease 0s;
    visibility: visible;
    z-index: 999999999 !important;
  }

  #dnd-indicator {
    position: absolute;
    top: 50px;
    font-weight: 700;
    color: #fff;
    background: #374ca6;
    border-radius: 50%;
    width: 20px;
    height: 24px;
    z-index: 1;
    text-align: center;
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    overflow: hidden;
    right: 23px;
}

@import 'scss/spinner';