<p>chatbot works!</p>
<br>


<div id="chatter" class="fixed-action-btn">
    <div id='faqBot' class="chat card" [ngStyle]="{'display':talkStarted ? '' : 'none' }">
        <!--div class="card-body">
            <span class="card-text">
            We’re currently unavailable. We’ll get back to you when one of our operators is able to respond. Please provide your email address so we can get in touch with you.
            </span>
            <div class="field-wrapper">
                <input type="email" placeholder="Enter your email..." class="" value="">
            </div>
        </div-->
        <div class="card-header"></div>
        <div id="conversation-group">
            <div id="messages" *ngFor="let faq of faqBotTalk">
                <div class="message" [ngClass] = "{
                    'message-operator': faq.sender === 'operator',
                    'message-visitor':faq.sender === 'visitor'
                  }" 
                  [ngStyle]="{'background': faq.sender === 'visitor' ? bgColor: '#f0f2f7'}">
                  <span class="message-content" [innerHTML]='faq.content'></span>
                </div>

                <div class="message message-operator bots-quick-replies" *ngIf="faq.quickReplies.length > 0">
                    <div class="button-wrapper" *ngFor="let quickReply of faq.quickReplies">
                        <button type="button" title="{{ quickReply.title }}" (click)="quickReplyBtn(faq, quickReply)">
                            <span [innerHTML]='quickReply.title'></span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="spinner" *ngIf="faqBotResponse">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
            </div>
            <div id="conversation-scroll">
                <div></div>
            </div>
        </div>
        <div id="input-group">
            <hr>
            <textarea [disabled]="faqBotWriteTalk" [(ngModel)]="visitorResponse"
                name="visitorResponse"
                id="new-message-textarea" rows="1" 
                placeholder="Enter your message..." 
                class="chat-text" aria-label="New message" 
                data-testid="newMessageTextarea">
            </textarea>
        </div>
        <div class="card-footer"></div>        
    </div>
    <div id="btn-chatbot" class="fixed-action-btn">
        <a  id="chatbot" (click)='clickFaqBot()'>
            <i class="fas" [ngClass]='messageIcon'></i>
        </a>
        <div id="dnd-indicator" class="scale-enter-done" [ngStyle]="{'display':talkCount > 0 ? 'block' : 'none' }">
            1
        </div>
    </div>
</div>