.teal {
    background-color: #009688 !important;
}

.teal.lighten-4 {
    background-color: #b2dfdb !important;
}

.teal.lighten-3 {
    background-color: #80cbc4 !important;
}

.teal.lighten-1 {
    background-color: #26a69a !important;
}

.teal.lighten-2 {
    background-color: #4db6ac !important;
}

.black-text {
    color: #000 !important;
}