
<div class="row">
    <div class="col-xl-6 mb-4">
  
  <!--Accordion wrapper-->
  <div class="accordion md-accordion accordion-4 mx-5 my-5" id="accordionEx2" role="tablist" aria-multiselectable="true">
  
    <!-- Accordion card -->
    <div class="card">
  
      <!-- Card header -->
      <div class="card-header z-depth-1 teal lighten-4" role="tab" id="heading10">
        <a data-toggle="collapse" data-parent="#accordionEx2" href="#collapse10" aria-expanded="true"
          aria-controls="collapse10">
          <h4 class="mb-0 black-text text-center font-weight-bold text-uppercase">
            Amul Milk
          </h4>
        </a>
      </div>
  
      <!-- Card body -->
      <div id="collapse10" class="collapse" role="tabpanel" aria-labelledby="heading10"
        data-parent="#accordionEx2">
        <div class="card-body rgba-teal-strong white-text">
          <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
            wolf moon officia aute,
            non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch
            3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
            shoreditch et.</p>
  
          <p>Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
            sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
            farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them
            accusamus labore.</p>
        </div>
      </div>
    </div>
    <!-- Accordion card -->
  
    <!-- Accordion card -->
    <div class="card">
  
      <!-- Card header -->
      <div class="card-header z-depth-1 teal lighten-3" role="tab" id="heading11">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx2" href="#collapse11"
          aria-expanded="false" aria-controls="collapse11">
          <h4 class="mb-0 black-text text-center font-weight-bold text-uppercase">
            Second title
          </h4>
        </a>
      </div>
  
      <!-- Card body -->
      <div id="collapse11" class="collapse" role="tabpanel" aria-labelledby="heading11"
        data-parent="#accordionEx2">
        <div class="card-body rgba-teal-strong white-text">
          <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
            wolf moon officia aute,
            non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch
            3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
            shoreditch et.</p>
  
          <p>Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
            sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
            farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them
            accusamus labore.</p>
        </div>
      </div>
    </div>
    <!-- Accordion card -->
  
    <!-- Accordion card -->
    <div class="card">
  
      <!-- Card header -->
      <div class="card-header z-depth-1 teal lighten-2" role="tab" id="heading12">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx2" href="#collapse12"
          aria-expanded="false" aria-controls="collapse12">
          <h4 class="mb-0 black-text text-center font-weight-bold text-uppercase">
            Third title
          </h4>
        </a>
      </div>
  
      <!-- Card body -->
      <div id="collapse12" class="collapse" role="tabpanel" aria-labelledby="heading12"
        data-parent="#accordionEx2">
        <div class="card-body rgba-teal-strong white-text">
          <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
            wolf moon officia aute,
            non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch
            3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
            shoreditch et.</p>
  
          <p>Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
            sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
            farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them
            accusamus labore.</p>
        </div>
      </div>
    </div>
    <!-- Accordion card -->
  
    <!-- Accordion card -->
    <div class="card">
  
      <!-- Card header -->
      <div class="card-header z-depth-1 teal lighten-1" role="tab" id="heading13">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx2" href="#collapse13"
          aria-expanded="true" aria-controls="collapse13">
          <h4 class="mb-0 black-text text-center font-weight-bold text-uppercase">
            Fourth title
          </h4>
        </a>
      </div>
  
      <!-- Card body -->
      <div id="collapse13" class="collapse" role="tabpanel" aria-labelledby="heading13"
        data-parent="#accordionEx2">
        <div class="card-body rgba-teal-strong white-text">
          <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
            wolf moon officia aute,
            non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch
            3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
            shoreditch et.</p>
  
          <p>Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
            sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
            farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them
            accusamus labore.</p>
        </div>
      </div>
    </div>
    <!-- Accordion card -->
  
    <!-- Accordion card -->
    <div class="card">
  
      <!-- Card header -->
      <div class="card-header z-depth-1 teal" role="tab" id="heading14">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx2" href="#collapse14"
          aria-expanded="false" aria-controls="collapse14">
          <h4 class="mb-0 black-text text-center font-weight-bold text-uppercase">
            Fifth title
          </h4>
        </a>
      </div>
  
      <!-- Card body -->
      <div id="collapse14" class="collapse" role="tabpanel" aria-labelledby="heading14"
        data-parent="#accordionEx2">
        <div class="card-body rgba-teal-strong white-text">
          <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
            wolf moon officia aute,
            non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch
            3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
            shoreditch et.</p>
  
          <p>Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
            sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
            farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them
            accusamus labore.</p>
        </div>
      </div>
    </div>
    <!-- Accordion card -->
  </div>
  <!--/.Accordion wrapper-->
   </div>
  </div>
  
  