.purple-gradient {
    background: linear-gradient(40deg, #ff6ec4, #7873f5) !important;
}

.navbar {
    font-weight: 900;
    background-color: transparent;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.navbar-toggler {
    border: none;
    outline-color: transparent;
    outline: none;
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

@media (min-width: 992px) {
    .navbar-expand-lg {
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }
}

@media (min-width: 600px) {
    .navbar.scrolling-navbar {
        padding-top: 12px;
        padding-bottom: 12px;
        -webkit-transition: background 0.5s ease-in-out,padding 0.5s ease-in-out;
        transition: background 0.5s ease-in-out,padding 0.5s ease-in-out;
    }
}

.nav-item {
    padding-left: 20px;
    padding-right: 20px;
}

.navbar-brand {
    position: relative;
    text-decoration: none;
    color: #fff;
}

.uppercase {
    text-transform: uppercase;
}

.navbar-brand img {
    width: 40px;
}

.navbar-collapse {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-align: center;
    align-items: center;
}
a:hover {
    color: #fff;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 15px 0 18px;
    font-size: 14px;
    color: #fff;
    font-family: rubik,sans-serif;
    font-weight: 500;
    text-transform: capitalize;
    margin-left: 30px;
    margin-top: 0;
    border-top: 3px solid transparent;
    -webkit-transition: all .3s ease-in-out 0s;
    -moz-transition: all .3s ease-in-out 0s;
    transition: all .3s ease-in-out 0s;
}

.blue.accent-1 {
    background-color: #9c27b0;
}

.btn-light-blue {
    background-color: #9c27b0;
    color: #fff;
}

.btn-light-blue:hover {
    background-color: #9c27b0;
    color: #fff;
}

.btn-group-toggle>.btn input[type=checkbox], .btn-group-toggle>.btn input[type=radio], .btn-group-toggle>.btn-group>.btn input[type=checkbox], .btn-group-toggle>.btn-group>.btn input[type=radio] {
    position: absolute;
    clip: rect(0,0,0,0);
    pointer-events: none;
}